@font-face {
	font-family: "iconfont";
	src: url("iconfont.woff2?t=1669444185031") format("woff2"), url("iconfont.woff?t=1669444185031") format("woff"),
		url("iconfont.ttf?t=1669444185031") format("truetype");
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pptcopy:before {
	content: "\e6ea";
}

.icon-suodingditu:before {
	content: "\ec74";
}

.icon-suofang:before {
	content: "\edf4";
}

.icon-yunxiazai:before {
	content: "\e601";
}

.icon-guansuo:before {
	content: "\e603";
}

.icon-kaisuo:before {
	content: "\e604";
}

.icon-shanchuwenjian:before {
	content: "\e600";
}

.icon-chenggong:before {
	content: "\e6a0";
}

.icon-tixingshixin:before {
	content: "\ec72";
}

.icon-kaiguan:before {
	content: "\e621";
}

.icon-biaodanzujian-biaoge:before {
	content: "\ec15";
}

.icon-shujujiguanli:before {
	content: "\e641";
}

.icon-database:before {
	content: "\e940";
}

.icon-guanbixiao:before {
	content: "\e8bb";
}

.icon-wenjianjia:before {
	content: "\e62e";
}

.icon-zhangshangcaifuyemianshoujiban345:before {
	content: "\e632";
}

.icon-shujuku:before {
	content: "\e625";
}
